@using Arabia.Web.Common;
@model Arabia.Core.Contracts.FullContract

@{
    ViewBag.Title = "تعديل البيانات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function CalcProposedEndDate() {
        var ExecutionPeriodVal = $('#ExecutionPeriod').val();
        var SiteDeliveryDateVal = $('#SiteDeliveryDate').prop('value');

        if ($.trim(ExecutionPeriodVal) != "") {

            if ($.trim(SiteDeliveryDateVal) != "") {
                
                var url = '@Url.Action("CalculateProposedEndDate")' + "?ExecutionPeriod=" + ExecutionPeriodVal
                                   + "&SiteDeliveryDate=" + SiteDeliveryDateVal;
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    success: function (Result) {

                        $('#txtProposedEndDate').val(Result);
                    },

                    error: function (Result) {

                        alert(Result.status + " " + Result.statusText);
                    }
                });
            }
            else
                $('#txtProposedEndDate').val("");
        }
        else
            $('#txtProposedEndDate').val(SiteDeliveryDateVal);
    }

    $(function () {
        //CalcProposedEndDate();

        $('#SiteDeliveryDate').blur(function () {

            CalcProposedEndDate();
        });

        $('#ExecutionPeriod').blur(function () {

            CalcProposedEndDate();
        });

    });

</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="input-page">

        <div class="page-title">
            <h2>تعديل البيانات</h2>
        </div>

        <div class="page-body">

            <div class="message-error">
                @Html.ValidationSummary(true)
            </div>

            <fieldset class="fieldset">
                <legend class="title">
                    <b>العقود التابعة للمشروع :</b>                
                </legend>

                <b>رقم المشروع :</b>@Request["ProjectNo"]
                <br />
                <b>اسم المشروع :</b>@Request["ProjectName"]
                <br />
                <br />
                <table class="userContent">

                    <tr>
                        <td class="userTitle">
                            @Html.LabelFor(model => model.ContractNo)
                        </td>
                        <td class="userData">
                            @Html.EditorFor(model => model.ContractNo)
                            @Html.ValidationMessageFor(model => model.ContractNo)

                            @Html.HiddenFor(model => model.ProjectId)
                            @Html.HiddenFor(model => model.ContractId)
                            @Html.HiddenFor(model => model.ContractHistoryId)
                            @Html.HiddenFor(model => model.CreatedOn)
                        </td>
                    </tr>

                    <tr>
                        <td class="userTitle">
                            @Html.LabelFor(model => model.Name)
                        </td>
                        <td class="userData">
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </td>
                    </tr>

                    <tr>
                        <td class="userTitle">
                            @Html.LabelFor(model => model.ContractorName)
                        </td>
                        <td class="userData">
                            @Html.EditorFor(model => model.ContractorName)
                            @Html.ValidationMessageFor(model => model.ContractorName)
                        </td>
                    </tr>

                    <tr>
                        <td class="userTitle">
                            @Html.LabelFor(model => model.ContractorNationality)
                        </td>
                        <td class="userData">
                            @Html.DropDownListFor(model => model.ContractorNationalityId, new SelectList(ViewBag.Nationalities, "NationalityId", "Name"), "--اختر--")
                            @Html.ValidationMessageFor(model => model.ContractorNationalityId)
                        </td>
                    </tr>

                    <tr>
                        <td class="userTitle">
                            @Html.LabelFor(model => model.Amount)
                        </td>
                        <td class="userData">
                            @Html.EditorFor(model => model.Amount)
                            @Html.ValidationMessageFor(model => model.Amount)
                        </td>
                    </tr>

                    <tr>
                        <td class="userTitle">
                            @Html.LabelFor(model => model.ExecutionPeriod)
                        </td>
                        <td class="userData">
                            @Html.EditorFor(model => model.ExecutionPeriod)
                            @Html.ValidationMessageFor(model => model.ExecutionPeriod)
                        </td>
                    </tr>

                    <tr>
                        <td class="userTitle">
                            @Html.LabelFor(model => model.SettlementDate)
                        </td>
                        <td class="userData">
                            @Html.UMQDate(model => model.SettlementDate)
                            @Html.ValidationMessageFor(model => model.SettlementDate)
                        </td>
                    </tr>

                    <tr>
                        <td class="userTitle">
                            @Html.LabelFor(model => model.SigningDate)
                        </td>
                        <td class="userData">
                            @Html.UMQDate(model => model.SigningDate)
                            @Html.ValidationMessageFor(model => model.SigningDate)
                        </td>
                    </tr>


                    <tr>
                        <td class="userTitle">
                            @Html.LabelFor(model => model.SiteDeliveryDate)
                        </td>
                        <td class="userData">
                            @Html.UMQDate(model => model.SiteDeliveryDate)
                            @Html.ValidationMessageFor(model => model.SiteDeliveryDate)
                        </td>
                    </tr>


                    <tr>
                        <td class="userTitle">
                            @Html.LabelFor(model => model.ActualStartDate)
                        </td>
                        <td class="userData">
                            @Html.UMQDate(model => model.ActualStartDate)
                            @Html.ValidationMessageFor(model => model.ActualStartDate)
                        </td>
                    </tr>

                    <tr>
                        <td class="userTitle">
                            @Html.LabelFor(model => model.ProposedEndDate)
                        </td>
                        <td class="userData">
                            @Html.TextBox("txtProposedEndDate", (string)ViewBag.CalcProposedEndDate, new { disabled = true })
                        </td>
                    </tr>

                    <tr>
                        <td class="userTitle">
                            @Html.LabelFor(model => model.OfficerId)
                        </td>
                        <td class="userData">
                            @Html.DropDownListFor(model => model.OfficerId, new SelectList(ViewBag.Officers, "UserID", "EmployeeName"), "--اختر--")
                            @Html.ValidationMessageFor(model => model.OfficerId)
                        </td>
                    </tr>

                </table>


            </fieldset>

            <div class="buttons">
                <input type="submit" value="حفظ" class="save" />
                @Html.ActionLink("إلغاء الأمر", "Index", new { ProjectId = Request["ProjectId"], ProjectName = Request["ProjectName"], ProjectNo = Request["ProjectNo"] }, new { @class = "back" })
            </div>

        </div>


    </div>

}

